################## CACHE FILES ##################
*__pycache__

################# CONFIG FILES ##################
*.json

################## TEST FILES ###################
*test*.py

#################### LEGACY #####################
.previous