################## CACHE FILES ##################
*__pycache__

################# CONFIG FILES ##################
*.json
globals
channel
guild
member
role
user

################## TEST FILES ###################
*test*.py

#################### LEGACY #####################
.previous