################## CACHE FILES ##################
*__pycache__

################# CONFIG FILES ##################
*.json
global
channel
guild
member
role
user

################## TEST FILES ###################
*test*.py

#################### LEGACY #####################
.previous